{% form_theme form 'bootstrap_4_layout.html.twig' %}


    <div class="background-calendar position-relative">
        <img class="voute-violette" src="http://flipfabrique.com/wp-content/themes/flip/lib/images/mask.svg" alt="">

        <div class="container w-25" style="font-weight: 600;">
        {{ form_start(form) }}
    {{ form_row(form.comment, {'attr' : {'class' : 'comment-text'}}) }}
    {{ form_row(form.rate) }}
    {{ form_row(form.customer) }}
    {{ form_row(form.program) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
</div>
