{% extends 'base.html.twig' %}
{% block body %}
    <title>{% block title %}Psycherdelic Circus - Bordeaux{% endblock %}</title>
    {% include '_nav.html.twig' %}
    <div class=" header">
        <div class="header-top">
            <h1 class="header-title text-center">... and the best shows are ...!</h1>
            <a class="btn btn-secondary rounded-lg font-weight-bold justify-content-center" href="{{ path('comment_new') }}"> Write your comment <i class="fas fa-comments"></i></a>

        </div>
    </div>

<div class="background-calendar position-relative">
    <img class="voute-violette" src="http://flipfabrique.com/wp-content/themes/flip/lib/images/mask.svg" alt="">

    <div class="mw-1040 ml-auto mr-auto pl-3 pr-3 mt-5"> </div>

    {% for comment in comments %}
        <div class="card-date rounded-md row no-gutters">
            <div class="col-12 col-md-3 ml-auto mr-auto ml-md-0 mr-md-0">
                <span class="text xxlg text-white font-weight-bold text-lowercase">{{ comment.program.programedAt|date('l j, o') }}</span>
            </div>
            <div class="col pb-3 pb-md-0 pr-0 pr-md-4">
                <a class="text xxlg text-white font-weight-bold" href="#" tabindex="0">{{ comment.program.title }}</a>
                <span class="text xxsm text-white lh-sm ls-xlg text-uppercase d-block mt-2">{{comment.comment}}</span>
                <span class="text xxsm text-white lh-sm ls-xlg text-uppercase d-block">{{comment.rate}}</span>

            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
