{% extends 'base.html.twig' %}

{% block title %}comment index{% endblock %}

{% block body %}
    {% include '_nav.html.twig' %}
    <h1>Comment index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Program</th>
            <th>Comment</th>
            <td>User name</td>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.program.title}}</td>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.customer.firstname }} {{ comment.customer.lastname }}</td>
                <td>
                    <a href="{{ path('comment_show', {'id': comment.id}) }}" class="justify-content-center"><i class="far fa-eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
